body{
  font-size: 1.512rem;
  margin: 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #cae4db;
}
h1{
  color: #5eaaa8;
  font-size: 5.625rem;
  position:relative;
  top:20px;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
h2{
  color:#5eaaa8;
}

.dec{
  color: #949cdf;
  font-weight: normal;
}
.top-container{
  position:relative;
background-color: #e9b0df;
margin: 0;
padding-top: 100px;
}

.middle-container{
  text-align: center;
}

.Me{
  border-radius: 100%;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:5%;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:70px;
}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.chilli-1{
  width:40%;
  float: left;
margin-right: 30px;
}
.chilli-2{
  width:40%;
  float:right;
  margin-right: 30px;
}

.BUTTON_VOM {
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   color: #a2d0c1;
   font-family: Georgia;
   font-size: 31px;
   font-weight: 100;
   padding: 21px;
   background-color: #5eaaa8;
   -webkit-box-shadow: 0 0 0 0 #000000;
   -moz-box-shadow: 0 0 0 0 #000000;
   box-shadow: 0 0 0 0 #000000;
   text-shadow: 0 0 0 #000000;
   border: solid #000000 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_VOM:hover {
   border: solid #eff7e1 0;
   background: #eff7e1;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container{
  background-color: #e9b0df;
}
